.header {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 5;
    padding: 10px;
    background-color: bisque;
    font-size: 32px;
    color: black;
    display: flex;
    justify-content: center;
}